
.tablaEstilos{
    border: #007BFF 7px solid;
    
}

.encabezadoTabla, .pieTabla{
    background-color:#007BFF;
}


.tablaEstilos{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.encabezadoTabla th{
    color: white;
    padding: 1.5rem;
}

.table-responsive input{
    border: 3px solid #007BFF;
}

.contenedorAcciones{
    background-color: #007BFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modalDiseno{
    border: 6px solid #007BFF;
}

.modalDiseno span{
    color: #007BFF;
    font-weight: bold;
}

.modalDiseno h5{
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.modal-header{
    border: 0;
}
.modal-footer{
    border-top:0;
}
.modal-footer button{
    width: 100%;
}
.formulario{
    padding: 1.5rem;
}

.formulario .form-group{
    margin-bottom: 2rem;
}

.formulario input{
    border: 3px solid #007BFF;
}

.formulario label{
    font-weight: bold;
}